.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 10px;
  color: white;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20% 0;
  flex-direction: column;
  row-gap: 20px;
}
button {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #008000;
  margin: 2px;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #007000;
}

button:active {
  background-color: #006000;
}

input {
  padding: 10px;
}